<li [ngClass]="{'list-group-item': true,
'list-group-item-success': localLoveIt > '0',
'list-group-item-danger': localLoveIt < '0'}">
  <div class="container">
    <div class="row">
      <div class="col-10"><h1>{{ post.title }}</h1></div>
      <div class="col-2"><i>{{ post.created_at | date: 'dd/MM/yyyy, HH:mm' }}</i></div>
    </div>
    <div class="row">
      <div class="col-12"><p>{{ post.content }}</p></div>
    </div>
    <div class="row">
      <button (click)="addLike()" class="btn btn-success">Love It</button>
      <button (click)="removeLike()" class="btn btn-danger">Don't love it!</button>
    </div>
  </div>
</li>